In [8]:
# import dependencies
import pandas as pd

In [9]:
# Import base Fe dataset
compounds_df = pd.read_csv('Resources/Ti_coumpounds_dataframe.csv', index_col=0)
compounds_df.head()

,mp_id,Formula,Composition,IPF,Density,Elastic_Tensor,E_above_Hull,G_VRH,K_VRH,Elastic_Anisotropy,poisson_ratio,Y_Modulus
0,mp-1014229,Ti2Zn,"{'Ti': 2.0, 'Zn': 1.0}",0.163919,5.462442,"{'G_Reuss': 29.0, 'G_VRH': 47.0, 'G_Voigt': 65...",0.0,47,96,6.32,0.29,121.26
1,mp-1014230,TiZn,"{'Ti': 1.0, 'Zn': 1.0}",0.174651,6.036543,"{'G_Reuss': 44.0, 'G_VRH': 56.0, 'G_Voigt': 69...",0.0,56,115,2.85,0.29,144.48
2,mp-1017985,TiAg,"{'Ti': 1.0, 'Ag': 1.0}",0.226014,7.340359,"{'G_Reuss': 32.0, 'G_VRH': 35.0, 'G_Voigt': 37...",0.0,35,111,0.80,0.36,95.20
3,mp-1018028,TiS,"{'Ti': 1.0, 'S': 1.0}",0.182130,4.442034,"{'G_Reuss': 97.0, 'G_VRH': 101.0, 'G_Voigt': 1...",0.0,101,141,0.44,0.21,244.42
4,mp-1018123,TiAu2,"{'Ti': 1.0, 'Au': 2.0}",0.248079,14.162674,"{'G_Reuss': -92.0, 'G_VRH': -17.0, 'G_Voigt': ...",0.0,-17,130,-8.12,0.57,-53.38

In [10]:
# Extract composition column to be cleaned
composition_list = compounds_df["Composition"]
composition_list

0                            {'Ti': 2.0, 'Zn': 1.0}
1                            {'Ti': 1.0, 'Zn': 1.0}
2                            {'Ti': 1.0, 'Ag': 1.0}
3                             {'Ti': 1.0, 'S': 1.0}
4                            {'Ti': 1.0, 'Au': 2.0}
                           ...
332      {'Sm': 2.0, 'Ti': 2.0, 'S': 2.0, 'O': 5.0}
333     {'Na': 2.0, 'Ti': 2.0, 'Sb': 2.0, 'O': 1.0}
334    {'Ti': 1.0, 'Al': 1.0, 'Fe': 1.0, 'Co': 1.0}
335      {'K': 1.0, 'Na': 1.0, 'Ti': 1.0, 'O': 3.0}
336      {'Cs': 2.0, 'K': 1.0, 'Ti': 1.0, 'F': 6.0}
Name: Composition, Length: 337, dtype: object

In [11]:
# Check successful extraction of composition data
composition_list[0]

"{'Ti': 2.0, 'Zn': 1.0}"

In [12]:
# create dataframe with every column being a element
element_columns = ['H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Ne', 'Na', 'Mg',
            'Al', 'Si', 'P', 'S', 'Cl', 'Ar', 'K', 'Ca', 'Sc', 'Ti', 'V', 'Cr',
            'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga', 'Ge', 'As', 'Se', 'Br',
            'Kr', 'Rb', 'Sr', 'Y', 'Zr', 'Nb', 'Mo', 'Tc', 'Ru', 'Rh', 'Pd', 'Ag',
            'Cd', 'In', 'Sn', 'Sb', 'Te', 'I', 'Xe', 'Cs', 'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Pm', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 
            'Tm', 'Yb', 'Lu', 'Hf', 'Ta', 'W',
            'Re', 'Os', 'Ir', 'Pt', 'Au', 'Hg', 'Tl', 'Pb', 'Bi', 'Po', 'At', 'Rn',
            'Fr', 'Ra', 
            'Ac', 'Th', 'Pa', 'U', 'Np', 'Pu', 'Am', 'Cm', 'Bk', 
            'Cf', 'Es', 'Fm', 'Md', 'No', 'Lr']
composition_df = pd.DataFrame(columns=element_columns)
composition_df

Empty DataFrame
Columns: [H, He, Li, Be, B, C, N, O, F, Ne, Na, Mg, Al, Si, P, S, Cl, Ar, K, Ca, Sc, Ti, V, Cr, Mn, Fe, Co, Ni, Cu, Zn, Ga, Ge, As, Se, Br, Kr, Rb, Sr, Y, Zr, Nb, Mo, Tc, Ru, Rh, Pd, Ag, Cd, In, Sn, Sb, Te, I, Xe, Cs, Ba, La, Ce, Pr, Nd, Pm, Sm, Eu, Gd, Tb, Dy, Ho, Er, Tm, Yb, Lu, Hf, Ta, W, Re, Os, Ir, Pt, Au, Hg, Tl, Pb, Bi, Po, At, Rn, Fr, Ra, Ac, Th, Pa, U, Np, Pu, Am, Cm, Bk, Cf, Es, Fm, ...]
Index: []

[0 rows x 103 columns]

In [22]:
# Check use of eval to convert string to dictionary
composition_list_dict = eval(composition_list[0])

In [13]:
# loop over all data and apply eval to every row
for i in range(len(composition_list)):
    composition_list_dict[i] = eval(composition_list[i])

In [14]:
# for each row, append new dictionary into dataframe structure
for i in range(len(composition_list)):
    composition_df = composition_df.append(composition_list_dict[i],ignore_index=True)

    
composition_df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Pu,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Fill NaN with 0
composition_df = composition_df.fillna(0)
composition_df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Pu,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Pull list for mp_ids to add to final dataframe
mp_id_df = compounds_df['mp_id']
mp_id_df

0      mp-1014229
1      mp-1014230
2      mp-1017985
3      mp-1018028
4      mp-1018123
          ...
332       mp-5999
333       mp-6328
334     mp-998980
335     mp-560767
336       mp-6178
Name: mp_id, Length: 337, dtype: object

In [17]:
# Add mp_id to the composition datagframe
composition_df["mp_id"] = mp_id_df
    
composition_df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr,mp_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1014229
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1014230
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1017985
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1018028
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1018123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-5999
333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-6328
334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-998980
335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-560767
336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-6178

In [18]:
# new column order
reorder_columns = ['mp_id', 'H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Ne', 'Na', 'Mg',
            'Al', 'Si', 'P', 'S', 'Cl', 'Ar', 'K', 'Ca', 'Sc', 'Ti', 'V', 'Cr',
            'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga', 'Ge', 'As', 'Se', 'Br',
            'Kr', 'Rb', 'Sr', 'Y', 'Zr', 'Nb', 'Mo', 'Tc', 'Ru', 'Rh', 'Pd', 'Ag',
            'Cd', 'In', 'Sn', 'Sb', 'Te', 'I', 'Xe', 'Cs', 'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Pm', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 
            'Tm', 'Yb', 'Lu', 'Hf', 'Ta', 'W',
            'Re', 'Os', 'Ir', 'Pt', 'Au', 'Hg', 'Tl', 'Pb', 'Bi', 'Po', 'At', 'Rn',
            'Fr', 'Ra', 
            'Ac', 'Th', 'Pa', 'U', 'Np', 'Pu', 'Am', 'Cm', 'Bk', 
            'Cf', 'Es', 'Fm', 'Md', 'No', 'Lr']

In [19]:
# recorder columns
composition_df = composition_df[reorder_columns]
composition_df

,mp_id,H,He,Li,Be,B,C,N,O,F,...,Pu,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr
0,mp-1014229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,mp-1014230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,mp-1017985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,mp-1018028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,mp-1018123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,mp-5999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,mp-6328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334,mp-998980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
335,mp-560767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
336,mp-6178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
compounds_properties_df = compounds_df.drop(["Composition", "Elastic_Tensor"], axis=1)
compounds_properties_df.head()

,mp_id,Formula,IPF,Density,E_above_Hull,G_VRH,K_VRH,Elastic_Anisotropy,poisson_ratio,Y_Modulus
0,mp-1014229,Ti2Zn,0.163919,5.462442,0.0,47,96,6.32,0.29,121.26
1,mp-1014230,TiZn,0.174651,6.036543,0.0,56,115,2.85,0.29,144.48
2,mp-1017985,TiAg,0.226014,7.340359,0.0,35,111,0.80,0.36,95.20
3,mp-1018028,TiS,0.182130,4.442034,0.0,101,141,0.44,0.21,244.42
4,mp-1018123,TiAu2,0.248079,14.162674,0.0,-17,130,-8.12,0.57,-53.38

In [21]:
# write to csv for database integration
composition_df.to_csv(r'Output/Ti_compounds_composition.csv', index = False)
compounds_properties_df.to_csv(r'Output/Ti_compounds_properties.csv', index = False)